:root {
  --primary: #940101;
  --bg: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0);
  border-bottom: 1px solid #940101;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .namaSD {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.beranda {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.beranda::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
}

.beranda .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.beranda .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.beranda .content h1 span {
  color: var(--primary);
}

.beranda .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.beranda .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

/* profil Section */
.profil {
  padding: 15rem 5% 1.4rem;
}

.profil .row {
  display: flex;
}

.profil .row .profil-img {
  flex: 1 1 45rem;
}

.profil .row .profil-img img {
  width: 100%;
}

.profil .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.profil .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.profil .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* pendaftaran */
.pendaftaran .daftar {
  padding-top: 20rem;
  margin-bottom: 10rem;
  text-align: center;
  font-size: 1.8rem;
}

/* berita */

.berita .konten h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.berita .konten {
  padding-top: 15rem;
  text-align: center;
  margin-bottom: 10rem;
}

/* guru*/

.guru h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.guru {
  padding-top: 15rem;
  text-align: center;
  margin-bottom: 10rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .profil .row {
    flex-wrap: wrap;
  }

  .profil .row .profil-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
}

/* Footer */
footer {
  background-color: #940101;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 4rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #000000;
  font-weight: 700;
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
